body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: Satoshi;
    line-height: 1.6;
}

=======
    font-family: 'Satoshi-regular';
    line-height: 1.6;
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
         url('../fonts/Satoshi-Light.woff') format('woff'),
         url('../fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal; 
  }

@font-face {
    font-family: 'Satoshi-regular';
    src: url(../fonts/Satoshi-Regular.woff2) format('woff2'),
        url(../fonts/Satoshi-Regular.woff) format('woff'),
        url(../fonts/Satoshi-Regular.ttf) format('truetype');
}


>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
.container {
    margin: auto;
    padding: 0 20px;
}

header {
<<<<<<< HEAD
    background-color: #161313;
    padding: 0 0;
    display: flex;
=======
    background-color: #111111;
    padding: 0 ;
    display: flex;
    align-items: center;
>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
}

nav {
    flex: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    padding: 10px;
    margin-bottom: 0px;
    margin-top: -15px;
=======
>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 0px;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 15px;
<<<<<<< HEAD
    margin-right: 15px;
=======
    margin-right: 45px;
>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
}

nav a {
    text-decoration: none;
    padding: 15px;
<<<<<<< HEAD
    color: white;
    font-size: 20px;
=======
    margin-left: 35px;
    color: white;
    font-size: 20px;
    font-family:  'Satoshi-regular';
}

nav li a {
    font-family: 'Satoshi-light';
    margin-left: 0;
>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
}

nav li a:hover{
    color: #e2e2e2;
}

nav li a::before {
    content: "";
    display: flex;
    height: 5px;
}

nav li a::after{
    content: "";
    display: flex;
    position: relative;
    height: 3px;
    width: 0px;
    background-color: #fff;
    transition: .15s ease-in-out;
}

nav li a:hover::after{
    width: 100%;
}

.text-container {
    background-color: #000;
    color: #fff;
    text-align: center;
<<<<<<< HEAD
    margin-top: -40px;
=======
>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
    padding: 4rem 0;
}

.text-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: 200ms;
}

.btn-primary:hover {
    background-color: white;
    color: #000;
}

.btn-secondary {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    transition: 200ms;
}

.btn-secondary:hover {
    background-color: black;
    color: #fff;
}

.features {
    background-color: #f8f9fa;
    padding: 4rem 0;
    text-align: center;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-card {
    background-color: #fff;
    border-radius: 8px;
<<<<<<< HEAD
    box-shadow: 0px 0px 6px #05050538;
=======
    box-shadow: 0px 0px 6px rgba(5, 5, 5, 0.22);
>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
    margin-bottom: 2rem;
    padding: 2rem;
    width: 33%;
    transition: .2s;
}

.feature-card:hover {
<<<<<<< HEAD
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.582);
=======
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
}

#start {
    text-align: center;
    padding: 4rem 0;
    margin-bottom: 12px;
    box-shadow: 4px 0px 6px #b8b8b8;
}

#start a {
    border: 2px solid;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
}

@media (max-width: 470px) {
    nav {
        flex-flow: row wrap;
        justify-content: center;
    }

    nav li {
        flex-grow: 1;
        flex-basis: 96.92px;
    }

    nav li a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .feature-card {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .feature-card {
        width: 100%;
    }
}