body, html {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: Satoshi;
=======
    font-family: 'Satoshi-regular';
>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
    line-height: 1.6;
    height: 100%;
    background: linear-gradient(45deg, #fff, #202020);
    background-size: 300% 300%;
    animation: animation 15s alternate infinite ease;
}

<<<<<<< HEAD
=======
@font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
         url('../fonts/Satoshi-Light.woff') format('woff'),
         url('../fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal; 
  }

@font-face {
    font-family: 'Satoshi-regular';
    src: url(../fonts/Satoshi-Regular.woff2) format('woff2'),
        url(../fonts/Satoshi-Regular.woff) format('woff'),
        url(../fonts/Satoshi-Regular.ttf) format('truetype');
}

>>>>>>> 12737b11d2f7a4ab0a104f9ac139d20f345cdf6b
@keyframes animation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.sign-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
.signup-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-basis: 400px;
}

.sign-form h1 {
    text-align: center;
    color: #000;
    margin-bottom: 24px;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #000;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #c2cBd0;
    color: #666;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

input:focus {
    background-color: #f0efef;
    color: #000;
}

button {
    padding: 12px;
    background-color: black;
    color: #fff;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fff;
    color: #000;
}

.login-link {
    text-align: center;
    margin-top: 16px;
    color: #666;
}

.login-link a {
    color: #000;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

#error{
    display: none;
    text-align: center;
}
