<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questões de Programação</title>
    <link rel="stylesheet" href="../static/StyleHome.css">
</head>
<body>
    <header>
        <h1>Questões de Programação</h1>
    </header>

    <main class="container">
        <div class="card">
            <h2>Mostrar texto no display</h2>
            <div class="difficulty easy">Fácil</div>
            <button><a href="/facil">Acessar</a></button>
        </div>
        <div class="card">
            <h2>Mostre um item de uma array</h2>
            <div class="difficulty medium">Médio</div>
            <button><a href="/medio">Acessar</a></button>
        </div>
        <div class="card">
            <h2>Inverta uma árvore binária</h2>
            <div class="difficulty hard">Difícil</div>
            <button><a href="/dificil">Acessar</a></button>
        </div>
    </main>
</body>
</html>
