<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Style.css">
    <title>TITÃS - AI</title>
</head>

<body>
    <div id="starter">
        <div id="text">
            <h1>Seja muito bem vindo ao site da monitoria TITÃS!</h1>
            <p>Prepare-se para um mundo de aprendizado nunca visto antes!</p>
        </div>
        <button id="btn">Entrar</button>
    </div>
</body>

</html>