<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Style.css">
    <title>TITÃS - IA</title>
</head>

<body>
    <header>
        <nav>
            <a href="#" style="font-size: 1.6rem; font-weight: bold;">TITÃS - AI</a>
            <ul>
                <li><a href="/signup">Cadastro</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/sobre">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text-container">
            <div class="container">
                <h1>Bem-vindo ao Futuro da Web</h1>
                <p>Descubra uma nova era de desenvolvimento web. Rápido, seguro e escalável.</p>
                <a href="/home" class="btn btn-primary">Comece Agora</a>
                <a href="/sobre" class="btn btn-primary">Saiba Mais</a>
            </div>
        </section>

        <section class="features">
            <div class="container">
                <h2>Nossos Recursos</h2>
                <div class="feature-grid">
                    <div class="feature-card">
                        <h3>Aprenda na prática</h3>
                        <p>Com enunciados dinâmicos e avaliação ao vivo de uma IA, fica cada vez mais fácil de estudar!</p>
                    </div>
                    <div class="feature-card">
                        <h3>Aprendizado Personalizado</h3>
                        <p>O sistema adapta o conteúdo com base no seu nível de conhecimento, oferecendo recursos e
                            exercícios que se ajustam ao seu progresso.</p>
                    </div>
                    <div class="feature-card">
                        <h3>Feedback Imediato</h3>
                        <p>Receba avaliações instantâneas sobre seu código e sugestões de melhorias, acelerando seu
                            aprendizado e desenvolvimento de habilidades.</p>
                    </div>
                    <div class="feature-card">
                        <h3>Recursos Interativos</h3>
                        <p>Desfrute de tutoriais interativos e quizzes que tornam o aprendizado mais dinâmico e
                            envolvente, facilitando a retenção de conhecimento.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="start">
            <div class="container">
                <h2>Pronto para Começar?</h2>
                <p>Junte-se a milhares de desenvolvedores que já estão construindo o futuro da web.</p>
                <a href="/home" class="btn btn-secondary">Comece Gratuitamente</a>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 TITÃS - AI. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>

</html>