<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/StyleHome.css">
    <link rel="stylesheet" href="../static/css/StyleSignUp.css">
    <title>TITÃS - AI</title>
</head>

<body>

    <header class="fade-in">
        <nav>
            <a href="home.html" class="logo">
                <span class="logo-text">TITÃS</span>
                <span class="logo-ai">AI</span>
            </a>
            <ul>
                <li><a href="signup.html" class="slide-up">Cadastro</a></li>
                <li><a href="login.html" class="slide-up">Login</a></li>
                <li><a href="#" class="slide-up">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <div class="sign-container">
        <div class="signup-form">
            <h1>Login</h1>
            <form action="#" method="POST">
                <label for="name">Nome de usuário</label>
                <input type="text" id="name" name="name" placeholder="Nome de usuário" required>

                <label for="password">Senha</label>
                <input type="password" id="password" name="password" placeholder="Senha" required>

                <label for="show-password">
                    <input type="checkbox" id="show-password"> Mostrar senha
                </label>
                <button type="submit">Entrar</button>
            </form>
            <p class="login-link">Não tem uma conta? <a href="#">Cadastre-se</a></p>
        </div>
    </div>
</body>

</html>