<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TITÃS - AI</title>
    <link rel="stylesheet" href="../static/css/StyleHome.css">
    <link rel="stylesheet" href="../static/css/StyleHomeQuestion.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="fade-in">
        <nav>
            <a href="home.html" class="logo">
                <span class="logo-text">TITÃS</span>
                <span class="logo-ai">AI</span>
            </a>
            <ul>
                <li><a href="#" class="slide-up">NICKNAME</a></li>
                <li><a href="#"><i class='bx bx-user' ></i></a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <div class="card">
            <h2>Mostrar texto no display</h2>
            <div class="difficulty easy">Fácil</div>
            <a href="easy.html"><button>Acessar</button></a>
        </div>
        <div class="card">
            <h2>Mostre um item de uma array</h2>
            <div class="difficulty medium">Médio</div>
            <a href="medium.html"><button>Acessar</button></a>
        </div>
        <div class="card">
            <h2>Inverta uma árvore binária</h2>
            <div class="difficulty hard">Difícil</div>
            <a href="hard.html"><button>Acessar</button></a>
        </div>

    </main>
</body>

</html>